@import url("node_modules/leaflet/dist/leaflet.css");
@import url("node_modules/leaflet-toolbar/dist/leaflet.toolbar.css");

html,body {
    /*background-color: #000;*/
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

.trippyPopupTitle {
    width: 200px;
    height: 0;
    background-color: #fff;
    display:flex;
    align-items: flex-end;
    justify-content: center;
    margin-left: -85px;
}

.trippyText {
    background-color: #fff;
}

.stopPopupList {
    margin-top: 0;
}

.stopPopup {
    min-width: 200px;
    max-width: 200px;
}