@import url("node_modules/leaflet/dist/leaflet.css");
@import url("node_modules/leaflet-toolbar/dist/leaflet.toolbar.css");

html,body, #app {
    /*background-color: #000;*/
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

.stop-popup {
    min-width: 200px;
    max-width: 200px;
}

.trippy-map-filters {
    z-index: 2000;
    position: absolute !important;
    top: 0;
    margin-left: 6rem;
    margin-top: 1rem;
}

.trippy-map-filter {
    display: inline-block;
}

.trippy-map-filter2 * {
    z-index: 2000;
}