@import url("node_modules/leaflet/dist/leaflet.css");
@import url("node_modules/leaflet-contextmenu/dist/leaflet.contextmenu.css");

html,body, #app {
    /*background-color: #000;*/
    height: 100%;
    margin: 0;
}

#map {
    height: 100%;
}

.trippy-map-filters {
    z-index: 2000;
    position: absolute !important;
    top: 0;
    margin-left: 6rem;
    margin-top: 1rem;
}

.filter-column {
    display: inline-block;
    float: left;
    margin-right: 5px;
}

.trippy-attribution {
    z-index: 2000;
    position: absolute !important;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 0 5px;
    color: #333;
    font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif
}

img.birds-logo {
    z-index: 2000;
    position: absolute !important;
    top: 0;
    right: 0;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}
