<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trippy GIS</title>
</head>
<body>
    <div id="app">
        <div id="map">
            <!-- leaflet map goes here -->
        </div>

        <div class="trippy-map-filters">
            <stop-search v-model="startStop" v-bind:stops="stops" v-on:input="selectStop" placeholder="Find starting stop"></stop-search>
            <stop-search v-model="endStop" v-bind:stops="stops" v-on:input="(s) => selectStop(s, true)" placeholder="Find ending stop"></stop-search>
            <time-filter v-model="selectedDate" v-bind:min-date="minDate" v-bind:max-date="maxDate"></time-filter>
        </div>

        <stop-popup ref="hiddenStopPopup" v-bind:stop="selectedStop"></stop-popup>
    </div>

    <script src="bundle.js"></script>
</body>
</html>

