<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trippy GIS</title>
</head>
<body>
    <div id="app">
        <div id="map">
            <!-- leaflet map goes here -->
        </div>

        <div class="trippy-map-filters">
            <time-filter ref="startTimeFilter" v-model="startDate" v-bind:min-date="minDate" v-bind:max-date="maxDate"
                         url-param="startDate" placeholder="Select a start date"></time-filter>
            <time-filter ref="startTimeFilter" v-model="endDate" v-bind:min-date="minDate" v-bind:max-date="maxDate"
                         url-param="endDate" placeholder="Select an end date"></time-filter>
        </div>

        <stop-popup ref="hiddenStopPopup" v-bind:stop="selectedStop"></stop-popup>
    </div>

    <script src="bundle.js"></script>
</body>
</html>
